
.container{
 
    text-align: center;    
}
.container h1{
    
    margin-bottom: 20px;

}
.container .form{ 
    font-size: 18px;
}

.container input{
    margin-top: 10px;
}
.container form button{
    margin-bottom: 20px;
    margin-top: 15px;
    width: 90px;
    height: 80;
    padding: 2px;
    border: solid 1px;
    border-radius: 10px;
    font-family: 'Roboto','sans-serfi';   
    background-color: #e63613;
    color: #fff;
    border-color: #e63613;
}
.Name-Error,.Location-Error,.Number-Error{
    font-size: 14px;
    color:#ca0000;
}
